<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Details
                
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Profile of Name1</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-8">

            <!-- the actual blog post: title/author/date/content -->
            <div class="row">
            
            <div class="col-lg-4">
                
               <p><i class="glyphicon glyphicon-user"></i><a href="#">Name</a>
            </p> 
                <div class="row">
                <div class="col-lg-6">
                    <p><a href="#">Logo Designer</a>
            </p>
                    </div>
                </div>
            </div>
                <div class="col-lg-3">
               <p><a href="#"></a>
            </p> 
            </div>
                <div class="col-lg-2">
               <p><a href="#">photoshop</a>
            </p> 
            </div>
                <div class="col-lg-2">
               <p><a href="#">photoshop</a>
            </p> 
            </div>
            </div>
            <hr>
<!--
            
            <hr>
            <img src="http://placehold.it/900x300" class="img-responsive">
            <hr>
-->
            <p class="lead">Overview</p>

            <p>

Howdy, I’m Martin from UK.

With a Bachelor’s degree in Computer Science and Master’s degree in Information Technology. I’m confident to handle all projects related to Web Programming and WordPress.

Currently, I’m a Technical Manager at E & J Gallo Winery Company. At this position, I lead the development process for all major projects utilizing HTML, CSS, PHP, Flash, ActionScript, Java, C/C++, and SQL Server. Additionally, I have more than 10 years working as a WordPress developer with over 150 individual WordPress projects and sites.

If want to implement your idea, then I am always ready for you. Hire me today!!!</p>
<hr>
            <p class="lead">Work History</p>

            <div class="row">

        <div class="col-md-1">
            <p><i class="glyphicon glyphicon-user"></i>
            </p>

            <p>Name</p>
        </div>
        <div class="col-md-11">
            <h3><a href="blog-post.html">Logo Design</a>
            </h3>
        </div>

    </div>
            <div class="row">

        <div class="col-md-1">
            <p><i class="glyphicon glyphicon-user"></i>
            </p>

            <p>Name</p>
        </div>
        <div class="col-md-11">
            <h3><a href="blog-post.html">Logo Design</a>
            </h3>
        </div>

    </div>
            <div class="row">

        <div class="col-md-1">
            <p><i class="glyphicon glyphicon-user"></i>
            </p>

            <p>Name</p>
        </div>
        <div class="col-md-11">
            <h3><a href="blog-post.html">Logo Design</a>
            </h3>
        </div>

    </div>
            <div class="row">

        <div class="col-md-1">
            <p><i class="glyphicon glyphicon-user"></i>
            </p>

            <p>Name</p>
        </div>
        <div class="col-md-11">
            <h3><a href="blog-post.html">Logo Design</a>
            </h3>
        </div>

    </div>
            <hr>
            <p class="lead">Portfolio</p>
            <div class="row">

        <ul class="list-item-portfolio">
		<li class="portfolio-item col-md-4 col-sm-4 col-xs-4">
	<a href="https://cdn.enginethemes.com/freelanceengine/2016/09/Zippy.jpg" title="Zippy" class="image-gallery">
		<img src="https://cdn.enginethemes.com/freelanceengine/2016/09/Zippy-230x170.jpg">
	</a>
</li><li class="portfolio-item col-md-4 col-sm-4 col-xs-4">
	<a href="https://cdn.enginethemes.com/freelanceengine/2016/09/Tempus-Gaming.jpg" title="Tempus Gaming" class="image-gallery">
		<img src="https://cdn.enginethemes.com/freelanceengine/2016/09/Tempus-Gaming-230x170.jpg">
	</a>
</li><li class="portfolio-item col-md-4 col-sm-4 col-xs-4">
	<a href="https://cdn.enginethemes.com/freelanceengine/2016/09/Sweet-Ecstasy-Bakery.jpg" title="Sweet Ecstasy Bakery" class="image-gallery">
		<img src="https://cdn.enginethemes.com/freelanceengine/2016/09/Sweet-Ecstasy-Bakery-230x170.jpg">
	</a>
</li><li class="portfolio-item col-md-4 col-sm-4 col-xs-4">
	<a href="https://cdn.enginethemes.com/freelanceengine/2016/09/Elevs.jpg" title="Elevs" class="image-gallery">
		<img src="https://cdn.enginethemes.com/freelanceengine/2016/09/Elevs-230x170.jpg">
	</a>
</li><li class="portfolio-item col-md-4 col-sm-4 col-xs-4">
	<a href="https://cdn.enginethemes.com/freelanceengine/2016/09/Blueshift-1.jpg" title="Blueshift" class="image-gallery">
		<img src="https://cdn.enginethemes.com/freelanceengine/2016/09/Blueshift-1-230x170.jpg">
	</a>
</li>	</ul>

    </div>

            <hr>

            <!-- the comment box -->
            <div class="well">
                <h4>Leave a Comment:</h4>

                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <hr>

            <!-- the comments -->
<!--
            <h3>Start Bootstrap
                <small>9:41 PM on August 24, 2013</small>
            </h3>
            <p>This has to be the worst blog post I have ever read. It simply makes no sense. You start off by talking
                about space or something, then you randomly start babbling about cupcakes, and you end off with random
                fish names.</p>

            <h3>Start Bootstrap
                <small>9:47 PM on August 24, 2013</small>
            </h3>
            <p>Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods, wild animals,
                alien abductions, business casual, robots, and fireworks' has true potential.</p>
-->

        </div>

        <div class="col-lg-4">
<!--
            <div class="well">
                <h4>Blog Search</h4>

                <div class="input-group">
                    <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                            </button>
                        </span>
                </div>
                 input-group 
            </div>
-->
            <!-- /well -->
            <div class="well">
                <h4>Details</h4>

                <div class="row">
                    <div class="col-lg-8">
                        <ul class="list-unstyled">
                            <li><a href="#dinosaurs">Hourly Rate:30$</a>
                            </li>
                            <li><a href="#spaceships">Rating:5</a>
                            </li>
                            <li><a href="#fried-foods">Experience: xyz years</a>
                            </li>
                            <li><a href="#wild-animals">project worked: 2</a>
                            </li>
                            <li><a href="#wild-animals">Total earned: $xyx</a>
                            </li>
                        </ul>
                    </div>
<!--
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#alien-abductions">Alien Abductions</a>
                            </li>
                            <li><a href="#business-casual">Business Casual</a>
                            </li>
                            <li><a href="#robots">Robots</a>
                            </li>
                            <li><a href="#fireworks">Fireworks</a>
                            </li>
                        </ul>
                    </div>
-->
                </div>
            </div>
            <!-- /well -->
<!--
            <div class="well">
                <h4>Side Widget Well</h4>

                <p>Bootstrap's default well's work great for side widgets! What is a widget anyways...?</p>
            </div>
-->
            <!-- /well -->
        </div>
    </div>

</div>
<!-- /.container -->