<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Contact
                <small>We'd Love to Hear From You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->
<div class="row">
    <div class="fre-register-default">
<div class="fre-register-wrap">
						<div class="row">
							<div class="col-sm-6">
								<div class="register-employer">
									<h3>Employer</h3>
									<p>Post project, find freelancers and hire favorite to work.</p>
									<a class="fre-small-btn" href="?role=employer">Sign Up</a>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="register-freelancer">
									<h3>Freelancer</h3>
									<p>Create professional profile and find freelance jobs to work.</p>
									<a class="fre-small-btn" href="?role=freelancer">Sign Up</a>
								</div>
							</div>
						</div>
					</div>
        </div>
    </div>
</div><!-- /.container -->